

<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-Lock fill fa-6x"></i>
    <h1 class="display-3">You are logged in!</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/profile" role="button">Profile</a>
    <a class="btn btn-light btn-lg" href="/issued" role="button">Issued Books</a><br><br>
 


  </div>
</div>

<%- include('partials/footer') %>
