<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Search Books by Author and Book Name</h1>

        <div class="row">
          <div class="col-sm-8">
            <div class="card">
              <div class="card-body">

                <!-- Makes POST request to /register route -->
                <form action="/search" method="POST">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="name">Book Name</label>
                      <input type="text" class="form-control" name="bname">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                          <label for="name">Author Name</label>
                          <input type="text" class="form-control" name="aname">
                        </div>

                  <button type="submit" class="btn btn-dark">Search</button>
                </form>


          </div>


        </div>
      </div>


  </div>
</div>

<%- include('partials/footer') %>
