<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-search fa-6x"></i>
    <h1 class="display-3">Search Books</h1>
    <hr>
    <a class="btn btn-light btn-lg" href="/bookname" role="button">By Book Name</a>
    <a class="btn btn-light btn-lg" href="/authorname" role="button">By Author Name</a><br><br>
    <a class="btn btn-dark btn-lg" href="/bookauthor" role="button">By Both</a>


  </div>
</div>

<%- include('partials/footer') %>
